.center {
    display: block;
    text-align: center;
  }

.image {
  background-image: url("https://downloadwap.com/thumbs2/wallpapers/p2ls/2019/technology/49/8246880913002086.jpg");
}

.textClass {
  background-color: black;
}

.imageNouv {
  padding: 0;
  margin: 0;
  height: 1400px;
  background-image: url("https://downloadwap.com/thumbs2/wallpapers/p2ls/2019/technology/49/8246880913002086.jpg");
}

body {
  padding: 0;
  margin: 0;
  height: 2650px;
  background-image: url("https://downloadwap.com/thumbs2/wallpapers/p2ls/2019/technology/49/8246880913002086.jpg");
}

.text1 {
  background-color: rgba(255, 255, 255, 0.580);
  border-radius: 30px; 
  padding: 10px;
  position: absolute;
  left: 437px;

}

.image1{
  margin-top: 144px;
  }

.text2 {
  background-color: rgba(255, 255, 255, 0.580);
  border-radius: 30px; 
  padding: 10px;
  position: absolute;
  left: 137px;
  right: 137px;
  margin-top: 22px;
}

.image2 {
  margin-top: 400px;

}

.text3 {
  background-color: rgba(255, 255, 255, 0.580);
  border-radius: 30px; 
  padding: 10px;
  position: absolute;
  left: 437px;
  margin-top: 45px;

}

.image3 {
  margin-top: 218px;

}

.text4 {
  background-color: rgba(255, 255, 255, 0.580);
  border-radius: 30px; 
  padding: 10px;
  position: absolute;
  left: 350px;
  margin-top: 28px;
}

.image4 {
  margin-top: 305px;
}

.text5 {
  background-color: rgba(255, 255, 255, 0.580);
  border-radius: 30px; 
  padding: 10px;
  position: absolute;
  left: 596px;
  margin-top: 28px;
}

.image5 {
  margin-top: 210px;
}

.text6 {
  background-color: rgba(255, 255, 255, 0.580);
  border-radius: 30px; 
  padding: 10px;
  position: absolute;
  left: 350px;
  margin-top: 28px;
}

.text7 {
  background-color: rgba(255, 255, 255, 0.580);
  border-radius: 30px; 
  padding: 10px;
  position: absolute;
  left: 350px;
  margin-top: 28px;
}

.text8 {
  background-color: rgba(255, 255, 255, 0.580);
  border-radius: 30px; 
  padding: 10px;

  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  
}

/* .text8 {
  background-color: rgba(255, 255, 255, 0.580);
  border-radius: 30px; 
  padding: 10px;
  position: absolute;
  right: 200px;
  left: 200px;
  margin-top: 140px;
  
} */

.image6 {
  margin-top: 210px;
}
 
.image7 {
  margin-top: 280px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.image9 {
  margin-top: 210px;
  position: absolute;
  display: block;
}




h2 {
  font-family: 'Bebas Neue', cursive;
}


.decLeft {
  margin-left: 301px;
}

ol {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  margin: 70px;
}
